cycler==0.10.0
cython==0.29.32
guided-filter-pytorch==3.7.5
h5py==3.3.0
jsonpatch==1.32
jsonpointer==2.1
kiwisolver==1.3.1
kornia==0.5.8
lpips==0.1.4
matplotlib==3.4.2
networkx==2.6.1
numpy==1.24.1
opencv-python==4.5.1.48
pandas==1.3.0
protobuf==3.17.3
pypng==0.0.21
pytz==2021.1
pyyaml==5.4.1
scikit-image==0.18.2
scikit-video==1.1.11
scipy==1.6.0
tensorboardx==2.4
thop==0.0.31-2005241907
tifffile==2021.7.2
tqdm==4.61.2
typing-extensions==4.12.2
